{% load static %}

<html lang="en"><head>
{% include 'header.html' %}
<!--

TemplateMo 576 SnapX Photography

https://templatemo.com/tm-576-snapx-photography

-->
  </head>

<body>


{% include 'nav.html' %}
  <!-- ***** Header Area End ***** -->

  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connect with Facebook</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form action="" method="post">
                <label>Email / Username</label>
                <input name="username" type="text" id="username">
              <br>

                <label>Password</label>
                <input name="password" type="password" id="password">
              <br>

                <div class="checkbox">
                    <input id="remember" type="checkbox">
                    <label for="remember">Remember me on this computer</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red">Login</button></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form action="" method="post">
                <label>Username</label>
                <input name="username" type="text" id="username">
                <br>

                <label>Email Address</label>
                <input name="email" type="email" id="email">
                <br>

                <label>Password</label>
                <input name="password" type="password" id="password">
                <br>

                <div class="checkbox">
                    <input id="send_updates" type="checkbox">
                    <label for="send_updates">Send me occasional email updates</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red">Register</button></div>
                </div>
            </form>
        </div>

    </section>
  </div>

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h2>Love You <em>Forever</em></h2>
          <p>♥ “Love isn’t something you find. Love is something that finds you.” ♥</p>
        </div>
      </div>
    </div>
  </div>

  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="min-height:150px;">

        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“I didn’t think it was possible, but I love you more and more with each passing year. Here’s to another year filled with love.” </h6>

          </div>
        </div>
          <br>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“Everyday I discover that I love you even more, and in this infinite universe I will love you till the ends.”</h6>
           </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“The minute I heard my first love story I started looking for you, not knowing how blind that was. Lovers don’t finally meet meet somewhere. They’re in each other all along.”</h6>

          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“Every heart sings a song, incomplete, until another heart whispers back. Those who wish to sing always find a song. At the touch of a lover, everyone becomes a poet.”</h6>

          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“You have touched a part of my heart that no one else has ever been able to get to. I will love you forever.” </h6>

          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“So, I love you because the entire universe conspired to help me find you.”</h6>

          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="min-height:150px;">

        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“Meeting you was like listening to a song for the first time and knowing it would be my favorite.”</h6>

          </div>
        </div>
          <br>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“Love is not about how many days, weeks or months you’ve been together, it’s all about how much you love each other every day.”</h6>
           </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“The real lover is the man who can thrill you by kissing your forehead.” </h6>

          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“When I tell you I love you, I am not saying it out of habit, I am reminding you that you are my life.” </h6>

          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“Love is not something you go out and look for. Love finds you, and when it does, ready or not, it’ll be the best thing to ever happen to you.”</h6>

          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info">
            <h6>“The best love is the kind that awakens the soul; that makes us reach for more, that plants a fire in our souls and brings peace to our minds. That’s what I hope to give you forever.”</h6>

          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
           <p>Copyright © 2023 <a href="#">A ♥ R</a>  All rights reserved.

<!--          Design: <a title="CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>-->
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>

  <script src="{% static 'assets/js/tabs.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script><div id="lean_overlay"></div>


</body></html>